.stars {
    display: flex;
}

.stars label {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
}

.stars label:hover,
.stars label:hover ~ label {
    color: #ffa500;
}

.stars input[type='radio'] {
    display: none;
}
.star{
    color: goldenrod;
    font-size: 2.0rem;
    padding: 0 1rem; /* space out the stars */
  }
  .star::before{
    content: '\2606';    /* star outline */
    cursor: pointer;
  }
  .star.rated::before{
    /* the style for a selected star */
    content: '\2605';  /* filled star */
  }
  
  .stars{
      counter-reset: rateme 0;   
      font-size: 2.0rem;
      font-weight: 900;
  }
  .star.rated{
      counter-increment: rateme 1;
  }
  .stars::after{
      content: counter(rateme) '/5';
  }
